.container {
    width: 100%;
    height: 600px;
    padding: 5rem 0;
    background-color: var(--color-gray-200);
}
.sectionTitle{
    text-align: center;
}
.sectionTitle h2 {
    font-size: 2.5rem;
    color: var(--clr-gold);
    margin-bottom: 20px;
}
.underline {
    width: 6rem;
    height: 0.3rem;
    background-color: var(--clr-grey-1);
    margin: auto;
}
.sectionBtn {
    margin-top: 1.7rem;
    text-align: center;
}